In [20]:
import Kegiatan1 as kg1
from pprint import pprint

In [2]:
data = [{'nama': 'Zein1', 'umur': 1, 'pekerjaan': 'mahasiswa', 'gaji': 1},
        {'nama': 'Zein2', 'umur': 2, 'pekerjaan': 'mahasiswa', 'gaji': 2},
        {'nama': 'Zein3', 'umur': 3, 'pekerjaan': 'mahasiswa', 'gaji': 3},
        {'nama': 'Zein4', 'umur': 4, 'pekerjaan': 'mahasiswa', 'gaji': 4},
        {'nama': 'Zein5', 'umur': 5, 'pekerjaan': 'mahasiswa', 'gaji': 5}]

In [9]:
pprint(kg1.pertama_z(data))

[{'gaji': 1, 'nama': 'Zein1', 'universitas': 'Universitas Muhammadiyah Malang'},
 {'gaji': 3, 'nama': 'Zein3', 'universitas': 'Universitas Muhammadiyah Malang'},
 {'gaji': 4, 'nama': 'Zein4', 'universitas': 'Universitas Muhammadiyah Malang'},
 {'gaji': 5, 'nama': 'Zein5', 'universitas': 'Universitas Muhammadiyah Malang'}]

In [4]:
kg1.kedua_e(data)

[{'nama': 'Zein1', 'umur': 1, 'pekerjaan': 'mahasiswa', 'gaji': 1},
 {'nama': 'Zein3', 'umur': 3, 'pekerjaan': 'mahasiswa', 'gaji': 3},
 {'nama': 'Zein4', 'umur': 4, 'pekerjaan': 'mahasiswa', 'gaji': 4},
 {'nama': 'Zein5', 'umur': 5, 'pekerjaan': 'mahasiswa', 'gaji': 5}]

In [5]:
kg1.ketiga_i(data)

Nama : Zein1
Umur: 1
Pekerjaan: mahasiswa
Gaji : 1
---------------------------
Nama : Zein3
Umur: 3
Pekerjaan: mahasiswa
Gaji : 3
---------------------------
Nama : Zein4
Umur: 4
Pekerjaan: mahasiswa
Gaji : 4
---------------------------
Nama : Zein5
Umur: 5
Pekerjaan: mahasiswa
Gaji : 5
---------------------------

In [10]:
kg1.keempat_n(data)
pprint(data)

[{'gaji': 1,
  'nama': 'Zein1',
  'pekerjaan': 'mahasiswa',
  'umur': 1,
  'universitas': 'Universitas Muhammadiyah Malang'},
 {'gaji': 3,
  'nama': 'Zein3',
  'pekerjaan': 'mahasiswa',
  'umur': 3,
  'universitas': 'Universitas Muhammadiyah Malang'},
 {'gaji': 4,
  'nama': 'Zein4',
  'pekerjaan': 'mahasiswa',
  'umur': 4,
  'universitas': 'Universitas Muhammadiyah Malang'},
 {'gaji': 5,
  'nama': 'Zein5',
  'pekerjaan': 'mahasiswa',
  'umur': 5,
  'universitas': 'Universitas Muhammadiyah Malang'}]

In [11]:
kg1.kelima_f(data)
pprint(data)

[{'gaji': 1,
  'nama': 'Zein1',
  'pekerjaan': 'mahasiswa',
  'umur': 1,
  'universitas': 'ITB'},
 {'gaji': 3,
  'nama': 'Zein3',
  'pekerjaan': 'mahasiswa',
  'umur': 3,
  'universitas': 'UMM'},
 {'gaji': 4,
  'nama': 'Zein4',
  'pekerjaan': 'mahasiswa',
  'umur': 4,
  'universitas': 'ITS'},
 {'gaji': 5,
  'nama': 'Zein5',
  'pekerjaan': 'mahasiswa',
  'umur': 5,
  'universitas': 'UB'}]

In [21]:
kg1.keenam_a(data)

Nama : Zein1
Umur: 1
Pekerjaan: mahasiswa
Gaji : 1Universitas: ITB
---------------------------
Nama : Zein3
Umur: 3
Pekerjaan: mahasiswa
Gaji : 3Universitas: UMM
---------------------------
Nama : Zein4
Umur: 4
Pekerjaan: mahasiswa
Gaji : 4Universitas: ITS
---------------------------
Nama : Zein5
Umur: 5
Pekerjaan: mahasiswa
Gaji : 5Universitas: UB
---------------------------

In [23]:
kg1.ketujuh_h(data)
pprint(data)

[{'gaji': 1,
  'nama': 'Zein1',
  'pekerjaan': 'mahasiswa',
  'umur': 69,
  'universitas': 'ITB'},
 {'gaji': 100,
  'nama': 'Zein3',
  'pekerjaan': 'mahasiswa',
  'umur': 3,
  'universitas': 'UMM'},
 {'gaji': 4,
  'nama': 'Zein4',
  'pekerjaan': 'pengangguran',
  'umur': 4,
  'universitas': 'ITS'},
 {'gaji': 5,
  'nama': 'Zein5',
  'pekerjaan': 'mahasiswa',
  'umur': 5,
  'universitas': 'UB'}]

In [24]:
kg1.kedelapan_r(data)

Nama : Zein1
Umur: 69
Pekerjaan: mahasiswa
Gaji : 1Universitas: ITB
---------------------------
Nama : Zein3
Umur: 3
Pekerjaan: mahasiswa
Gaji : 100Universitas: UMM
---------------------------
Nama : Zein4
Umur: 4
Pekerjaan: pengangguran
Gaji : 4Universitas: ITS
---------------------------
Nama : Zein5
Umur: 5
Pekerjaan: mahasiswa
Gaji : 5Universitas: UB
---------------------------

In [25]:
print(kg1.kesembilan_o(data, ""))

191

In [27]:
pprint(kg1.kesepuluh_z(data, 'nama', 'pekerjaan'))

['Zein1mahasiswa', 'Zein3mahasiswa', 'Zein4pengangguran', 'Zein5mahasiswa']